flow_remote.json
[{"id":"ce00e034.a40d5","type":"tab","label":"HeavyTask"},{"id":"937d2f84.985eb","type":"http response","z":"ce00e034.a40d5","name":"","x":655,"y":320,"wires":[]},{"id":"c1370567.f2fd88","type":"http in","z":"ce00e034.a40d5","name":"","url":"/c1370567.f2fd88","method":"post","x":135,"y":140,"wires":[["b1688d6b.b6688","e2676ab6.5d3f38"]]},{"id":"b1688d6b.b6688","type":"debug","z":"ce00e034.a40d5","name":"heavytask.in","active":false,"console":"false","complete":"payload","x":270,"y":80,"wires":[]},{"id":"35bc0513.fc7cca","type":"tesseract","z":"ce00e034.a40d5","name":"","language":"eng","x":420,"y":260,"wires":[["6ccc961f.3a9418"]]},{"id":"7e04d929.1fb4e8","type":"function","z":"ce00e034.a40d5","name":"tobuffer","func":"msg.payload = Buffer.from(msg.payload.img,'base64');\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["35bc0513.fc7cca"]]},{"id":"25b56e28.a40922","type":"debug","z":"ce00e034.a40d5","name":"heavytask.out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":380,"wires":[]},{"id":"e2676ab6.5d3f38","type":"function","z":"ce00e034.a40d5","name":"prepare","func":"msg.offload = msg.payload.offload\nmsg.offload.times.jobstart = new Date().getTime()\n\nmsg.offload.values = msg.payload.values\nmsg.offload.thresholds = msg.payload.thresholds\n\nmsg.offload.remote = msg.payload.remote\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["7e04d929.1fb4e8"]]},{"id":"6ccc961f.3a9418","type":"function","z":"ce00e034.a40d5","name":"postjob","func":"var times = msg.offload.times\n\ntimes.jobend = new Date().getTime()\ntimes.jobdelta = times.jobend - times.jobstart\n\nmsg.payload = {\n    offload: msg.offload,\n    tesseract: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":320,"wires":[["937d2f84.985eb","25b56e28.a40922"]]}]
