flow_local.json
[{"id":"fa28f56e.840978","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca37ba4d.91b9b8","type":"tab","label":"Main"},{"id":"6053fa6a.f7bed4","type":"tab","label":"HeavyTask"},{"id":"41bf431d.96acec","type":"inject","z":"ca37ba4d.91b9b8","name":"start","topic":"","payload":"{\"url\":\"http://jurnsearch.files.wordpress.com/2009/07/ocr-test.jpg\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":80.5,"y":236,"wires":[["e05b5ae8.170c18"]]},{"id":"be97ece5.e45c5","type":"link out","z":"ca37ba4d.91b9b8","name":"","links":["c1370567.f2fd88"],"x":544.5,"y":272,"wires":[]},{"id":"b2161a9c.83f6d8","type":"link in","z":"ca37ba4d.91b9b8","name":"","links":["937d2f84.985eb","8102aed9.7be2d"],"x":287.5,"y":459,"wires":[["bea51363.fad81"]]},{"id":"57ab418.6447cc","type":"debug","z":"ca37ba4d.91b9b8","name":"main.out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.offload","x":540,"y":460,"wires":[]},{"id":"937d2f84.985eb","type":"link out","z":"6053fa6a.f7bed4","name":"","links":["b2161a9c.83f6d8"],"x":655,"y":320,"wires":[]},{"id":"c1370567.f2fd88","type":"link in","z":"6053fa6a.f7bed4","name":"","links":["be97ece5.e45c5","427b2caa.df0444"],"x":135,"y":140,"wires":[["b1688d6b.b6688","e2676ab6.5d3f38"]]},{"id":"589689ae.e7f408","type":"inject","z":"ca37ba4d.91b9b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121.5,"y":26,"wires":[["e8a1b66e.53c7e8"]]},{"id":"39261941.62c226","type":"tab-deploy","z":"ca37ba4d.91b9b8","name":"","tab":"HeavyTask","remote":"https://rosogon-nodered.herokuapp.com","x":439.5,"y":25,"wires":[]},{"id":"b1688d6b.b6688","type":"debug","z":"6053fa6a.f7bed4","name":"heavytask.in","active":false,"console":"false","complete":"payload","x":270,"y":80,"wires":[]},{"id":"e8a1b66e.53c7e8","type":"function","z":"ca37ba4d.91b9b8","name":"f1","func":"msg.payload = {\n    sourceurl: \"http://localhost:1880\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":273.5,"y":26,"wires":[["39261941.62c226"]]},{"id":"8102aed9.7be2d","type":"link out","z":"ca37ba4d.91b9b8","name":"","links":["b2161a9c.83f6d8"],"x":543.5,"y":356,"wires":[]},{"id":"c112e7b1.944fa8","type":"cloud-link","z":"ca37ba4d.91b9b8","name":"cloud-link","cpu":"71","mem":"20","temperature":"55","remote":"","dummy":false,"x":420.5,"y":319,"wires":[["be97ece5.e45c5"],["8102aed9.7be2d"]]},{"id":"35bc0513.fc7cca","type":"tesseract","z":"6053fa6a.f7bed4","name":"","language":"eng","x":420,"y":260,"wires":[["6ccc961f.3a9418"]]},{"id":"e05b5ae8.170c18","type":"function","z":"ca37ba4d.91b9b8","name":"prepare","func":"flow.set(\"batchcount\", \n  (flow.get(\"batchcount\") || 0 ) + 1)\n\nmsg.url = msg.payload.url\nmsg.link = msg.payload.link\nmsg.offload = {\n    batchId : msg.payload.batchId || \"batch0\",\n    thresholds : msg.payload.thresholds,\n    trigger : (msg.req && msg.res)? \"http\" : \"inject\"\n}\n// for cloud-link operation\nmsg.thresholds = msg.offload.thresholds\nreturn msg;","outputs":1,"noerr":0,"x":219.5,"y":306,"wires":[["a739afbb.eeba6"]]},{"id":"a739afbb.eeba6","type":"http request","z":"ca37ba4d.91b9b8","name":"load image","method":"GET","ret":"bin","url":"","tls":"","x":225.5,"y":352,"wires":[["adcc52d4.e115"]]},{"id":"adcc52d4.e115","type":"function","z":"ca37ba4d.91b9b8","name":"prepare","func":"var now = new Date().getTime()\nif (!context.get(msg.offload.batchId)) {\n    context.set(msg.offload.batchId, now)\n}\nvar times = {\n    jobstart: undefined,\n    jobend: undefined,\n    procstart: now,\n    procend: undefined,\n    batchstart: context.get(msg.offload.batchId),\n    batchend: undefined,\n    jobdelta: undefined,\n    procdelta: undefined,\n    batchdelta: undefined\n}\nvar b64 = msg.payload.toString('base64');\nmsg.payload = {\n    img: b64,\n    offload: msg.offload\n}\nmsg.payload.offload.times = times\nreturn msg;","outputs":1,"noerr":0,"x":223.5,"y":397,"wires":[["c112e7b1.944fa8"]]},{"id":"7e04d929.1fb4e8","type":"function","z":"6053fa6a.f7bed4","name":"tobuffer","func":"msg.payload = Buffer.from(msg.payload.img,'base64');\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["35bc0513.fc7cca"]]},{"id":"adb850ae.4f0d6","type":"inject","z":"ca37ba4d.91b9b8","name":"force to cloud","topic":"","payload":"{ \"link\": \"remote\", \"url\": \"http://jurnsearch.files.wordpress.com/2009/07/ocr-test.jpg\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":99.5,"y":187,"wires":[["e05b5ae8.170c18"]]},{"id":"25b56e28.a40922","type":"debug","z":"6053fa6a.f7bed4","name":"heavytask.out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":380,"wires":[]},{"id":"e2676ab6.5d3f38","type":"function","z":"6053fa6a.f7bed4","name":"prepare","func":"msg.offload = msg.payload.offload\nmsg.offload.times.jobstart = new Date().getTime()\n\nmsg.offload.values = msg.payload.values\nmsg.offload.thresholds = msg.payload.thresholds\n\nmsg.offload.remote = msg.payload.remote\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["7e04d929.1fb4e8"]]},{"id":"6ccc961f.3a9418","type":"function","z":"6053fa6a.f7bed4","name":"postjob","func":"var times = msg.offload.times\n\ntimes.jobend = new Date().getTime()\ntimes.jobdelta = times.jobend - times.jobstart\n\nmsg.payload = {\n    offload: msg.offload,\n    tesseract: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":320,"wires":[["937d2f84.985eb","25b56e28.a40922"]]},{"id":"bea51363.fad81","type":"function","z":"ca37ba4d.91b9b8","name":"postproc","func":"var now = new Date().getTime()\nvar times = msg.payload.offload.times\ntimes.procend = now\ntimes.procdelta = times.procend - times.procstart\n\ntimes.batchend = now\ntimes.batchdelta = times.batchend - times.batchstart\n\nmsg.payload.offload.remote = msg.payload.offload.remote? 1: 0\n\nflow.set(\"batchcount\", flow.get(\"batchcount\") - 1)\n\nvar results = flow.get(\"batchresults\") || []\nresults.push(msg.payload.offload)\nflow.set(\"batchresults\", results)\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":460,"wires":[["57ab418.6447cc","c856efa2.8f7ae"]]},{"id":"59f98df1.8743b4","type":"http in","z":"ca37ba4d.91b9b8","name":"","url":"/newjob","method":"post","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["e05b5ae8.170c18","1114acec.1c67c3","8461c69a.830a28"]]},{"id":"1114acec.1c67c3","type":"debug","z":"ca37ba4d.91b9b8","name":"http.out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":340,"y":120,"wires":[]},{"id":"8461c69a.830a28","type":"http response","z":"ca37ba4d.91b9b8","name":"","statusCode":"200","headers":{},"x":340,"y":180,"wires":[]},{"id":"c856efa2.8f7ae","type":"function","z":"ca37ba4d.91b9b8","name":"prepare","func":"var id = msg.payload.offload.batchId\nmsg.payload = JSON.stringify(flow.get(\"batchresults\"), undefined, 2)\nmsg.filename = `/tmp/${id}.json`\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":400,"wires":[["ae65fce7.58009"]]},{"id":"ae65fce7.58009","type":"file","z":"ca37ba4d.91b9b8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":670,"y":400,"wires":[]},{"id":"87136f6b.de14e","type":"http in","z":"ca37ba4d.91b9b8","name":"","url":"/count","method":"get","upload":false,"swaggerDoc":"","x":560,"y":100,"wires":[["1252aa84.40bf75"]]},{"id":"1252aa84.40bf75","type":"function","z":"ca37ba4d.91b9b8","name":"","func":"msg.payload = flow.get(\"batchcount\") || 0\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":140,"wires":[["4f766183.2204"]]},{"id":"4f766183.2204","type":"http response","z":"ca37ba4d.91b9b8","name":"","statusCode":"200","headers":{"Content-type":"text/plain"},"x":700,"y":180,"wires":[]},{"id":"63a2f06e.d4064","type":"comment","z":"ca37ba4d.91b9b8","name":"","info":"http://jurnsearch.files.wordpress.com/2009/07/ocr-test.jpg\nhttp://update.lib.berkeley.edu/wp-content/uploads/2017/03/ocrtext.png","x":120,"y":460,"wires":[]}]
